@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";

// -------------------------------
// Button
// -------------------------------
.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;

    font-size: 18px;
    font-family: $font-family-title;
    font-weight: bold;
    text-decoration: none !important;
    text-shadow: $text-shadow-normal;
    color: $color-highlight;

    background-color: $color-primary-darker;
    border: 1px solid $color-primary-dark;
    border-radius: 10px;
    box-shadow: $box-shadow-normal;

    transition: all 0.2s ease-in-out;

    &:hover {
        color: white;
        border-color: $color-primary;
        background-color: $color-primary-dark;
    }

    .button__subtitle{
        font-family: $font-family-base;
        font-size: 12px;
        font-weight: normal;
        color: rgba(white, .75);
        padding-top: 5px;
    }
}

button, a, input, textarea {
    &:focus{
        outline: none;
    }
}

.buttons{
    padding: 10px;
    text-align: right;
}