@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";

.contract{

    &.row{
        &:hover{
            .identifiers { color: white; }
        }
    }

    .cell{
        cursor: pointer;
        &:first-child{ width: 50%; text-align: left; }
        &:not(:first-child){ vertical-align: middle; }
        .identifiers{ font-size: 16px; }
        .tier{ font-size: 14px; }
    }


    .identifiers{
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-highlight;
        text-shadow: $text-shadow-normal;

        .tier{ 
            display: inline-block;
            margin-right: .5rem;
            font-weight: normal;
        }
    }

    .description{
        font-size: 14px;
        color: rgba($color-base-font, .75);
    }
    
}