@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";

// Contract
// -------------------------------------
.contract-summary{
     .contract-summary__identifiers{
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-highlight;
        text-shadow: $text-shadow-normal;
    }

     .contract-summary__tier{ 
        display: inline-block;
        margin-right: .5rem;
        font-weight: normal;
    }

    .contract-summary__description{
        font-size: 14px;
        color: rgba($color-base-font, .75);
    }
}

// Contract (as Grid Row)
// -------------------------------------
.grid__row{
    .contract-summary__identifiers{ font-size: 16px; }
    .contract-summary__tier{ font-size: 14px; }

    &:hover .contract-summary__identifiers { color: white; }
}

.grid__cell{
    cursor: pointer;
    &:first-child{ width: 50%; text-align: left; }
    &:not(:first-child){ vertical-align: middle; }
}


// Contract (as Header)
// -------------------------------------
.contract-summary--header{
    margin-bottom: 5px;
    border-bottom: 2px solid $color-primary-dark;
    .contract-summary__identifiers { font-size: 32px; }
    .contract-summary__tier { font-size: 28px; }
    .contract-summary__fade{ color: $color-base-bg-light; }
}

