@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";

// -------------------------------
// Field
// -------------------------------
.field{
    display: block;
    max-width: 100%;
    padding: 10px 0;
    text-align: left;

    .field__label{ 
        display: block;
        padding: 3px 0;
        color: $color-highlight; 
        font-weight: bold;
        text-shadow: $text-shadow-normal;

        &.field__label--required:before{
            content: "*";
            color: $color-primary;
            margin-right: 5px;
        }
    }

    .field__info{
        font-size: 12px;
        font-weight: 200;
        color: rgba(white, .75);
        padding-bottom: 3px;
    }

    .field__warning{
        font-size: 12px;
        visibility: hidden;
        padding: 5px 0;
        color: $color-primary;
        font-weight: bold;
    }

    
    .Select{
        width: 100%;
        max-width: 100%;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        border-radius: 4px;
        background-color: $input-color-bg;
        border: 1px solid $input-color-border;
        color: $input-color-text;
        padding: $input-padding;
        font-family: inherit;
        font-size: inherit;
        outline: none;
    }

    &.field--invalid{
        input, textarea, .Select-control{
            border-color: $color-primary;
        }

        .field__warning{
            visibility: visible;
        }
    }

}

::-webkit-input-placeholder { color: $input-color-placeholder; }
::-moz-placeholder { color: $input-color-placeholder; }
:-ms-input-placeholder { color: $input-color-placeholder; }
:-moz-placeholder { color: $input-color-placeholder; }

.checkbox{
    display: inline-block;
    .checkbox__input{
        display: none;
        &:checked + .checkbox__label:before{
            content:"\f14a";
        }
    }

    .checkbox__label{
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        &:before{
            display: inline-block;
            width: 16px;
            font-family: FontAwesome;
            content: "\f096";
            text-align: center;
           color: $color-secondary;

        }
        &:hover:before{ color: white; }
    }
}

