@import '../_colors.scss';

$row-color-bg-hover: $color-primary-dark;
$row-color-bg-zebra: $color-base-bg-panel;

$border-color: $color-highlight;

// Grid Body
// ------------
.grid {
    //border: 1px solid $border-color;
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color-highlight;
    border-width: 1px 0;

    // Row
    // ------------
    .grid__row {
        display: table-row;
        width: 100%;

        &:nth-child(odd) { background-color: $row-color-bg-zebra; }
        &:hover { 
            background-color: $row-color-bg-hover; 
            color: white;
        }

        &.grid__row--header {
            background-color: $border-color;
            color: white;
        }

        // Cell
        // ------------
        .grid__cell {
            display: table-cell;
            padding: 15px 10px;
        }
    }
}
