@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";
@import "../mixins";

// Quote
// -----------------------
.quote {
    padding: 20px;
    text-align: center;
    text-shadow: $text-shadow-normal;

    p:first-child {
        max-width: 450px;
        margin: auto;
        font-family: $font-family-title;
        font-style: italic;
        font-size: 28px;
        margin-bottom: 5px;
    }

    p:last-child {
        font-size: 10px;
        color: rgba($color-base-font, .75);
        text-shadow: none;
    }
}

// HIRE / WORK
// -----------------------
.actions {
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
    @include border-deco();

    .button {
        width: 240px;
        padding: 2rem;
        margin: 0 .5rem;
        font-size: 32px;
    }
}


// Popular Work Grid
// -----------------------
.work{
    .grid {
        margin-top: 10px;
    }
}
