@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";
@import "../mixins";

.home {
    text-align: center;
}

// Quote
// -----------------------
.quote {
    padding: 20px;
    text-align: center;
    text-shadow: $text-shadow-normal;

    .quote__text {
        max-width: 450px;
        margin: auto;
        font-family: $font-family-title;
        font-style: italic;
        font-size: 22px;
        margin-bottom: 5px;
    }

    .quote__author {
        font-size: 10px;
        color: rgba($color-base-font, .75);
        text-shadow: none;
    }
}

// HIRE / WORK
// -----------------------
.actions {
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
    @include border-deco();

    .actions__button {
        width: 240px;
        padding: 20px;
        margin: 5px;
        font-size: 32px;
    }

    @media (max-width: $size-screen-mobile){
        .actions__button{
            display: block;
            margin: 20px auto;
        }
    }
}


// Popular Work Grid
// -----------------------
.work{
    .grid {
        margin-top: 10px;
    }
}
