@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";

$color-links: white;

$padding-nav: 10px;
$height-menu: 40px;

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    height: ($padding-nav * 2) + $height-menu;
    border-bottom: 1px solid #111;
    background: $color-primary-dark;
    box-shadow: $box-shadow-light;
    border-bottom: 1px solid $color-primary;
    text-shadow: $text-shadow-heavy;
    z-index: 1000;

    .navigation__wrapper{
        position: relative;
        height: ($padding-nav * 2) + $height-menu;
        width: 100%;
    }

    .navigation__title{
        display: inline-block;
        padding: 0 10px;
        height: $height-menu;
        line-height: $height-menu;
        font-family: $font-family-title;
        color: white;
        font-size: 18px;
    }

    .navigation__toggle{
        display: none;
        height: $height-menu;
        line-height: $height-menu;
        padding: 0 10px;
        background: none;
        border: none;
        color: rgba($color-links, .75);
        cursor: pointer;
        float: right;

        &:before{
            font-family: FontAwesome;
            content: "\f0c9";
            margin-right: 5px;
        }

        &:hover{
            color: white;
        }
    }

    .navigation__menu{
        position: absolute;
        display: block;
        bottom: $padding-nav;
        left: 0px;
        width: 100%;
        height: $height-menu;
        background-color: rgba(black, .2);

        .navigation__links{ display: inline-block; }
        .navigation__link{
            display: inline-block;
            height: 100%;
            padding: 0 15px;
            color: rgba($color-links, .75);
            text-decoration: none;
            vertical-align: middle;
            line-height: $height-menu;
            font-size: 14px;
            font-weight: normal;

            &:hover{
                color: $color-links;
            }
        }
    }
}

@media screen and (max-width: 490px){
    .navigation{
        .navigation__menu{
            
            .navigation__links{
                display: none;
            }

            &.navigation__menu--open{

               .navigation__links{
                    display: block;
                    background: $color-primary-darker;
                    border-bottom: 1px solid $color-primary-dark;
                }
            }
            .navigation__link{
                display: block;
                &:hover{
                    background-color: $color-primary-dark;
                }
            }
        }

        .navigation__toggle{
            display: inline-block;
        }
    }
}