@import "../mixins";

.panel{
    max-width:500px;
    margin:auto;
    text-align: left;
    padding: 20px;
}

.work-info{
    .field{ padding-top: 0; }
}

.new-contract {
    @include border-deco();
    border-top-width: 2px;

    .contract{
        position: relative;

        .identifiers { font-size: 32px; }
        .tier { font-size: 28px; }
        .fade{ color: $color-base-bg-light; }

        // Delete one contract (FontAwesome)
        .delete{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: rgba(white, .5);
            font-size: 18px;

            &:hover{
                color: white;
            }

            &:before{
                font-family: FontAwesome;
                content: "\f00d";
            }
        }
    }
}

.tabs{
    max-width:500px;
    margin:0 auto;
    white-space: nowrap;
    padding: 0 10px;
}

.tab{
    position:relative;
    display: inline-block;
    margin-right: 8px;
    padding: 5px 10px;
    border: 1px solid $color-highlight-dark;
    border-bottom: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    cursor: pointer;
    color: $color-highlight;
    background-color: rgba(black, .3);
    box-shadow: none;
    font-size: 16px;
    overflow: visible;
    
    vertical-align: bottom;

    &.new{
        padding: 2px 8px;
        border: 1px solid $color-highlight-dark;
        font-size: 14px;
        vertical-align: top;
    }

    &:hover{
        color: white;
        background-color: $color-primary-dark;
        border-color: $color-primary;
    }

    &.active{
        color: white;
        background-color: $color-highlight;
        border-color: $color-highlight;
        cursor: default;        
    }

    // Little badge floating on the tab that
    // shows how many validation errors exist on
    // that tab (form).
    .errors-badge{
        position: absolute;
        top: -10px;
        right: -5px;
        padding: 2px 5px;
        font-family: monospace;
        font-size: 12px;
        line-height: 14px;
        background-color: $color-primary;
        color: white;
        border-radius: 20px;
    }

}

.buttons{
    max-width:500px;
    margin:auto;
}