@import "../mixins";

#new-order{
    text-align: left;
    padding: 20px;
    @include border-deco();

    .skill-info{
        display: table;
        width: 100%;
        background: rgba($color-highlight-darker, .5);
        //border: 1px solid $color-highlight-dark;
        //border-radius: 10px;
        margin-bottom: 10px;

        .field{
            display: table-cell;
            vertical-align: bottom;
            padding: 10px;
            width: 50%;
        }
    }
}