@import "../_colors.scss";

.order{
    cursor: pointer;
    color: #333;

    &:hover{
        background-color: #f8f8f8;
    }

    .cell{
        padding: 1rem;
        &:first-child{ width: 50%; text-align: left; }
        &:not(:first-child){ vertical-align: middle; }
    }

    .identifiers{
        font-weight: 600;

        .tier{ 
            display: inline-block;
            margin-right: .3rem;
            color: $color-primary-dark;
        }
        .skill{ color: $color-primary; }
    }

    .description{
        font-size: 12px;
    }
}