.order{
    cursor: pointer;

    &:hover{
        background-color: #f8f8f8;
    }

    .cell{
        padding: 1rem;
        &:first-child{ width: 50%; text-align: left; }
        &:not(:first-child){ vertical-align: middle; }
    }

    .identifiers{
        font-weight: 600;

        .tier{ 
            display: inline-block;
            margin-right: .3rem;
            color: #b02020;
        }
        .skill{ color: #d82c2c; }
    }

    .description{
        font-size: 12px;
    }
}