@import "../_colors.scss";

@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);
$font-family: 'Cinzel Decorative', cursive;

.order{
    cursor: pointer;

    .cell{
        padding: 1rem;
        &:first-child{ width: 50%; text-align: left; }
        &:not(:first-child){ vertical-align: middle; }
    }

    .identifiers{
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: uppercase;

        .tier{ 
            display: inline-block;
            margin-right: .3rem;
            font-weight: bold;
        }
        //.skill{ color: $color-primary; }
    }

    .description{
        font-size: 14px;
    }
}