@import "../_colors.scss";
@import "../_fonts.scss";
@import "../_variables.scss";

// -------------------------------
// Tab
// -------------------------------
.tab{
    position:relative;
    display: inline-block;
    margin-right: 8px;
    padding: 5px 10px;
    border: 1px solid $color-highlight-dark;
    border-bottom: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    cursor: pointer;
    color: $color-highlight;
    background-color: rgba(black, .3);
    box-shadow: none;
    font-size: 16px;
    overflow: visible;
    
    vertical-align: bottom;

    &.tab--new{
        padding: 2px 8px;
        border: 1px solid $color-highlight-dark;
        font-size: 14px;
        vertical-align: top;
    }

    &:hover{
        color: white;
        background-color: $color-primary-dark;
        border-color: $color-primary;
    }

    &.tab--active{
        color: white;
        background-color: $color-highlight;
        border-color: $color-highlight;
        cursor: default;        
    }

    // Little badge floating on the tab that
    // shows how many validation errors exist on
    // that tab (form).
    .tab__badge{
        position: absolute;
        top: -10px;
        right: -5px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 20px;

        &.tab__badge--error{
            background-color: $color-primary;
            color: white;
        }
    }
}