@import "../colors";
@import "../fonts";
@import "../variables";
@import "../mixins";

$icon-above-1: "\f106";
$icon-above-2: "\f102";
$icon-below-1: "\f107";
$icon-below-2: "\f103";


.work {
    &.work--new {
        max-width: 500px;
        margin: 0 auto;

        .tabs {
            padding: 0 10px;
        }

        .form {
            position: relative;
            padding: 20px;
            border-top-width: 2px;
            @include border-deco();

            .form__delete {
                position: absolute;
                top: 10px;
                right: 10px;
                color: rgba(white, .40);
                font-size: 24px;

                &:hover {
                    color: $color-primary;
                }
            }
        }

        .work-info {
            padding: 20px;
        }

        .buttons {
            .button {
                margin-left: 10px;
            }
        }
    }
}

.button--create-bid{
    float: right;
}

.bid-grid {
    width: 100%;
    vertical-align: top;

    .bid-grid__grid,
    .bid-grid__filters{ 
        vertical-align: top;
    }
    .bid-grid__filters{
        padding-bottom: 10px;
    }

    .bid-grid__actions{
        //background-color: $color-primary-darker;
        //padding: 5px;
        //height: 30px;
        margin-bottom: 10px;
        .button + .button {
            margin-left: 10px;
        }
        
    }

    .bid{
        &.bid--accepted{
            border:2px solid $color-highlight-dark;
            .bid__status{ color: $color-secondary; }
            &:hover{
                border-color: $color-highlight;
            }
        }
    }

    .grid__row {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        text-shadow: 1px 1px 1px rgba(black, .5);

        &:hover {
            .grid__cell,
            .grid__cell .bid__tier,
            .grid__cell .bid__tier:before {
                color: white !important;
            }
        }
    }

    .bid__tier {
        margin-bottom: 5px;
        border-bottom: 1px dotted rgba(white, .1);
        font-size: 18px;
        font-weight: bold;
        color: $color-highlight;
        text-transform: uppercase;
    }

    .bid__description {
        margin-top: 5px;
        font-size: 14px;
        color: rgba($color-base-font, .4);
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .bid__created {
        font-size: 14px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        max-width: 100px;

        a {
            display: inline-block;
            margin-bottom: 5px;
        }
    }

    @media (min-width: $size-screen-mobile){
        // Bring the filters to be beside the grid.
        display: table;

        .bid-grid__filters,
        .bid-grid__grid{
            display: table-cell;
        }

        .bid-grid__filters{ 
            width: 200px; 
            border-bottom-width: 1px;
            padding-bottom: 0;
            background: $color-base-bg-panel;
        }

        .bid-grid__grid{
            padding-left: 10px;
        }
    }
}
