@import "../colors";
@import "../fonts";
@import "../variables";
@import "../mixins";

.work{
    &.work--new{
        max-width: 500px;
        margin: 0 auto;

        .tabs{
            padding: 0 10px;
        }

        .form{
            position: relative;
            padding: 20px;
            border-top-width: 2px;
            @include border-deco();

            .form__delete{
                position: absolute;
                top: 10px; 
                right: 10px;
                color: rgba(white, .40);
                font-size: 24px;

                &:hover{
                    color: $color-primary;
                }
            }
        }

        .work-info{
            padding: 20px;
        }

        .buttons{
            .button{
                margin-left: 10px;
            }
        }
    }
}

.contract-view{
    .bid__label{ 
        display: inline-block;
        margin-right: 5px; 
        color: rgba(white, .5);
        width: 60px;
        text-align: right;
    }

    .bid__value{ 
        color: white;
        text-transform: uppercase; 
    }
    .bid__tier { 
        margin-bottom: 5px; 
        border-bottom: 1px dotted rgba(white, .2);
    }
    .bid__tier .bid__value { 
        font-size: 18px;
        font-weight: bold;
        color: $color-highlight;
    }

    .bid__description{
        margin-left: 65px;
        margin-top: 5px;
        font-size: 14px;
        color: rgba($color-base-font, .75);
    }

    .grid__row{
        &:first-child{ width: 100%; }
        &:hover{
            .bid__value{ color: white; }
        }
    }
}