$color-primary: #b02020;
$color-primary-dark: mix($color-primary, black, 75%);
$color-primary-darker: mix($color-primary, black, 50%);

$color-secondary: #209ab0;
$color-secondary-dark: mix($color-secondary, black, 75%);

$color-highlight: #90835c;
$color-highlight-dark: mix($color-highlight, black, 40%);
$color-highlight-darker: mix($color-highlight, black, 30%);

$color-base-font: white;

$color-base-bg: rgb(20, 22, 22);
$color-base-bg-panel: rgb(30, 32, 32);

$color-base-bg-light: lighten($color-base-bg, 25%);
$color-base-bg-lighter: lighten($color-base-bg, 50%);
$color-base-bg-lightest: lighten($color-base-bg, 75%);