
@import url(https://fonts.googleapis.com/css?family=Arima+Madurai:400,200);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(https://fonts.googleapis.com/css?family=Overlock+SC);

$font-family-base: 'Arima Madurai', cursive;
$font-family-title: 'Cinzel Decorative', cursive;
$font-family-subtitle: 'Overlock SC', cursive;