@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(https://fonts.googleapis.com/css?family=Overlock+SC);

$font-family-base: 'Droid Sans', sans-serif;
$font-family-title: 'Cinzel Decorative', cursive;
$font-family-subtitle: 'Overlock SC', cursive;