@import "colors";

@mixin border-deco(){
    border: 1px solid $color-highlight;
    border-width: 1px 0;
    background-color: $color-base-bg-panel;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(black, .5);
}