@import "_reset.scss";
@import "_colors.scss";
@import "_fonts.scss";
@import "variables";

html{ 
    box-sizing: border-box;
    font-family: $font-family-base;
    color: #f3f3f3;
    background-color: $color-base-bg;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{ min-width: 100%; min-height: 100%; }

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
    border-bottom: 2px solid $color-primary-dark;
}

.buttons{
    padding: 10px;
    text-align: right;
}

.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;

    font-size: 18px;
    font-family: $font-family-title;
    font-weight: bold;
    text-decoration: none !important;
    text-shadow: $text-shadow-normal;
    color: $color-highlight;

    background-color: $color-primary-darker;
    border: 1px solid $color-primary-dark;
    border-radius: 10px;
    box-shadow: $box-shadow-normal;

    transition: all 0.2s ease-in-out;

    &:hover {
        color: white;
        border-color: $color-primary;
        background-color: $color-primary-dark;
    }

    .subtitle{
        font-family: $font-family-base;
        font-size: 12px;
        font-weight: normal;
        color: rgba(white, .75);
        padding-top: 5px;
    }

    &.secondary{
        background: none;
        box-shadow: none;
        border: 1px solid transparent;
    }
}

.buttons .button{
    margin-left: 10px;
}

button, a, input, textarea {
    &:focus{
        outline: none;
    }
}

.view{
    color: $color-base-font;
    width: 80%;
    max-width: 900px;
    margin: auto;
    text-align: left;
    margin-bottom: 100px;

    @media (max-width: $size-screen-mobile){
        width: 100%;
        padding: 20px;
    }
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { 
    border-radius:0 0 3px 0;
    background: $color-highlight-darker;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $color-highlight; 
}

// Vendor
@import "Vendor/Select/components";

// Common
@import "Components/navigation";
@import "Components/grid";
@import "Components/field";

// Home
@import "Components/home";
@import "Components/contractsGrid";

// Work
@import "Components/newWork";