@import "reset";
@import "colors";
@import "fonts";
@import "variables";

html{ 
    box-sizing: border-box;
    font-family: $font-family-base;
    color: #f3f3f3;
    background-color: $color-base-bg;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{ min-width: 100%; min-height: 100%; }

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
    border-bottom: 2px solid $color-primary-dark;
}

h3 {
    font-size: 24px;
    margin: 20px 0;
}

a {
    &:link,
    &:visited,
    &:active{
        color: $color-highlight;
        &:hover{
            color: white;
        }
    }
        
}

.delete{
    cursor: pointer;

    &:before{
        font-family: FontAwesome;
        content: "\f00d";
    }
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { 
    border-radius:0 0 3px 0;
    background: $color-highlight-darker;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $color-highlight; 
}

// Vendor
@import "Vendor/Select/components";

// Common
@import "Components/navigation";
@import "Components/grid";
@import "Components/field";
@import "Components/button";
@import "Components/tab";
@import "Components/view";
@import "Components/dialog";

// Home
@import "Components/home";
@import "Components/contract";

// Work
@import "Components/work";