html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "_reset.scss";
@import "_colors.scss";
@import "_fonts.scss";

html{ 
    font-family: $font-family-base;
    color: #f3f3f3;
    background-color: #222;
    background-image: url("../../Content/Patterns/classy_fabric.png");
    background-repeat: repeat;
}
html, body{ min-width: 100%; min-height: 100%; }

.view{
    color: white;
    width: 80%;
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px;
    //background: rgba(black, .2);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    //border: 1px solid #333;
}

@import "Components/_navigation.scss";
@import "Components/_home.scss";
@import "Components/_order.scss";
@import "Components/_grid.scss";
//@import "Components/_orderGrid.scss";