/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(https://fonts.googleapis.com/css?family=Overlock+SC);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(https://fonts.googleapis.com/css?family=Overlock+SC);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(https://fonts.googleapis.com/css?family=Overlock+SC);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-family: "Droid Sans", sans-serif;
  color: #f3f3f3;
  background-color: #222;
  background-image: url("../Content/Patterns/classy_fabric_dark.png");
  background-repeat: repeat; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  min-width: 100%;
  min-height: 100%; }

.view {
  color: white;
  width: 80%;
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 20px; }

.navigation {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #111;
  background: #841818;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #b02020;
  /*&:before{
        position: absolute;
        top: 100%;
        left: 0;
        content: "";
        background-image: url("../../Content/texture.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: auto 100%;
        height: 150px;
        width: 100%;
    }*/ }
  .navigation .menu {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2); }
    .navigation .menu a {
      display: inline-block;
      height: 100%;
      padding: 0 15px;
      color: rgba(255, 255, 255, 0.75);
      text-shadow: 1px 1px 1px black;
      text-decoration: none;
      vertical-align: middle;
      line-height: 40px; }
      .navigation .menu a:hover {
        color: white; }

.quote {
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  z-index: 10; }
  .quote p:first-child {
    max-width: 450px;
    margin: auto;
    font-family: "Cinzel Decorative", cursive;
    font-style: italic;
    font-size: 28px;
    margin-bottom: 5px; }
  .quote p:last-child {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: none; }

.actions {
  width: 100%;
  padding: 30px 0;
  margin: 30px 0;
  border: 1px solid #3a3425;
  border-width: 1px 0;
  background-color: rgba(0, 0, 0, 0.2); }
  .actions .button {
    position: relative;
    display: inline-block;
    width: 240px;
    max-width: 100%;
    padding: 2rem;
    margin: 0 .5rem;
    overflow: hidden;
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    color: #90835c;
    background-color: #581010;
    border: 1px solid #841818;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out; }
    .actions .button:hover {
      color: white;
      border-color: #b02020;
      background-color: #841818; }
    .actions .button .subtitle {
      font-family: "Droid Sans", sans-serif;
      font-size: 12px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.75);
      padding-top: 5px; }

.orders .grid {
  margin-top: 10px; }

.order {
  cursor: pointer; }
  .order .cell:first-child {
    width: 50%;
    text-align: left; }
  .order .cell:not(:first-child) {
    vertical-align: middle; }
  .order .identifiers {
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #90835c;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75); }
    .order .identifiers .tier {
      display: inline-block;
      margin-right: .5rem;
      font-weight: normal;
      font-size: 14px; }
  .order .description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75); }
  .order:hover .identifiers {
    color: white; }

.grid {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #3a3425;
  border-width: 1px 0; }
  .grid .row {
    display: table-row;
    width: 100%; }
    .grid .row:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.2); }
    .grid .row:hover {
      background-color: #841818;
      color: white; }
    .grid .row.header {
      background-color: #90835c;
      color: white; }
    .grid .row .cell {
      display: table-cell;
      padding: 15px 10px; }

